.os {
	min-height: 100%;

	&__wrapper {
		padding: rem(15);
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(115);

		@media (max-width:426px) {
			padding-top: 100px;
			gap: rem(70);
		}
	}
}

.wrapper-os {

	&__arrow {
		position: absolute;
		left: -70px;
		top: 12px;

		@media (max-width:426px) {
			left: 0px;
			top: -40px;
		}

		& a {
			position: relative;

			&:hover::after {
				content: attr(data-title);
				font-family: Roboto;
				position: absolute;
				width: 140px;
				left: 0;
				top: -40px;
				font-size: rem(12);
				letter-spacing: 1px;
				color: #FFFFFF;
			}
		}
	}

	&__title {
		position: relative;
		font-family: 'Aire';
		font-size: rem(48);
		line-height: rem(48);
		text-align: center;
		color: #FFFFFF;

		@media (max-width:426px) {
			width: 80%;
			margin: 0 auto;
			text-align: left;
		}

		@include adaptive-value("font-size", 48, 40, 2);
	}

	&__icons {
		display: flex;
		gap: rem(60);

		& img {
			width: 100px;
			height: 100px;

			@include adaptive-value("width", 100, 70, 1);
			@include adaptive-value("height", 100, 70, 1);
		}

		@media (max-width:426px) {
			flex-direction: column;
			gap: rem(30);
		}
	}
}